//colors: #000000ba for backdrop
//#99ffff light blue for accent

html {
    height: 100%;
    margin: 0px;
    width: 100%;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.75em;
    color: white;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.75em;
    color: white;
    font-weight: bold;
    text-align: left;
    padding-top: 10px;
}

h1#home {
    color: rgba(255, 255, 255, .6);
}
span#blue {
    color: #99ffff;
}
body.home {
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    padding: 0;
    margin: 0px;
    width: 100%;
}


body.about, body.work, body.contact {
    background: #000000ba;
    color: whitesmoke;
}
.container {
    text-align: center;
    align-items: center;
    z-index: 1;
    width: 100%;
    height: 0;
    margin: 0 auto;
    max-width: 900px;

}
#icon-area {
    max-width: 750px;
}

h1 {
    font-family: 'Playfair Display', serif;
    color: white;
    font-size: 6em;
    color: 	white;
    font-weight: bold;
    padding: 0;
    text-shadow: 0 0 1.5px rgb(0,0,0,.4);


}
h1.quote {
    font-size: 5em;
    font-weight: bold;
    text-align: left;
    width: 100%;
    padding-bottom: 20px;
    color:#99ffff;
}

hr {
    color:#99ffff;
}



.icon {
    display: inline-block;
    margin: 0 auto;

}

i{
    margin-bottom: 15px;
    text-shadow: 0 0 2px rgb(0,0,0,.25);
}
.icon p {
    font-size: 18px;
    color: white;
    margin: 0;
    font-weight: bold;
    line-height: 1.1;
    text-align: center;
}

p{
    font-family: 'Raleway', sans-serif;
    text-align: left;
    max-width: 750px;
}

img {
    max-width: 225px;
    border: none;
    box-shadow: 0 0 2px rgba(0,0,0,.25);
    margin: 5px;
    justify-content: left;
    display: flex;
}






ul {
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    margin: 0;
    padding-bottom: 0;
    }
canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
a {
    color: white;
    text-decoration: none;
}


a:hover{
    color:#99ffff;
    text-decoration: none;
}
a:active{
    color: grey;
}


.fas, .fab {
    color:#99ffff;
    font-size: 4em;
}

.fab:hover {
    color: grey;
}
.fa-hat-wizard{
    font-size: 80px;
    color: #99ffff;
}

footer p{
    padding-top: 20px;
    text-align: right;
    color: white;
    font-size: 12px;
}


@media only screen and (max-width: 800px) {
  h1#home {
    line-height: .75;
    padding-bottom: 20px;
  }
  .fa-hat-wizard{
      display: none;
  }
  #small {
      position
      font-size: 70px;
      padding-top: 10px;
      display: block;
  }
}
@media only screen and (min-width: 800px) {
    #small {
        display: none;
    }
}
